- name: Install PHP packages
  yum:
    name:
      - php
      - php-fpm
      - php-mysqlnd
      - php-mbstring
      - php-xml
      - php-json
      - php-gd
    state: present

- name: Start & enable php-fpm
  systemd:
    name: php-fpm
    state: started
    enabled: yes

